body{
    font-family: 'Source Sans Pro', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.navbar-brand:hover {
    color: black!important;
}
.search input[type=search] {
    background: #fff url(../images/search.png) no-repeat 10px center;
    border: solid 1px #eee;
    padding: 0 10px;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
}
.search-right input[type=search]:focus {
    width: 200px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
    padding-right: 15px;
}
.navbar-dark .navbar-brand{
    text-decoration: none;
    font-size: 32px;
    padding: 0px;
    position: relative;
    color: #fb811e;
}
.navbar-dark .navbar-brand i{
    position: absolute;
    top: -5px;
    left: 50px;
    font-size: 20px;
}
.dropdown {
    appearance:none!important;
}
.dropdown-menu{
    top: 50px;
    left: -120px;
}
.dropdown-menu:focus {
    box-shadow: none;
}
.dropdown-menu li a{ 
    text-decoration: none;
    color: black; 
}
.dropdown button { 
    font-size: 30px;
    padding-top: 5px;
}
.btn:focus{
    box-shadow: none;
}
.dropdown-menu .active{
    color: #fb811e;
}
.no-caret::after {
    display: none !important;
}
/* welcome */
.welcome__content{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.container-fluid {
    padding: 0;
}
.carousel-inner {
    border-radius: 0 0 0 15px;
}
.welcome__right img {
    min-height: 100vh;
    object-fit: cover;
    overflow: hidden;
}

.footer-main .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.footer-main h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 30px;
}

.footer-main a.logo {
    font-size: 32px;
    color: orangered;
    cursor: pointer;
    position: relative;
    
}
.footer-main a.logo:hover {
    color:black;
    text-decoration: none;
}
.footer-main a.logo i{
    position:absolute;
    top: -3px;
    left: 54px;
    font-size: 20px;
}

.footer-main p {
    font-size: 17px;
    line-height: 27px;
    color:#707070;
}
.FooterSocial li {
    display: inline-block;
    margin-right: 5px;
    font-size: 15px;
    line-height: 35px;

}
.FooterSocial li a {
    color: green;
    width: 35px;
    height: 35px;
    background: rgb(10 191 83 / 8%);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    
}
.FooterSocial li a 

/* cdtop */

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.backToTop {
    width: 40px;
    height: 40px;
    background: #009f4d;
    border-radius: 8px;
    line-height: 40px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all 0.2s;
    box-shadow: -4px 4px 24px -10px #009f4d;
    visibility: hidden;
    opacity: 0;
    
}
.backToTop i{
    font-size: smaller;
}