body {
  font-family: "Source Sans Pro", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-more {
  background: #fb811e;
  margin: 10px 0;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200%;
  color: white;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  transition: 0.5s all;
}
.btn-more:hover {
  background: green;
}

/* HEADER */
header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.navbar-brand:hover span,
.navbar-brand:hover i {
  color: black;
}
.search input[type="search"] {
  background: #fff url(../images/search.png) no-repeat 10px center;
  border: solid 1px #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.search-right input[type="search"]:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  padding-right: 15px;
}
.navbar {
  padding: 5px 1rem 0;
}
.navbar-dark .navbar-brand {
  text-decoration: none;
  font-size: 32px;
  padding: 0px;
  position: relative;
  color: #fb811e;
}
.navbar-dark .navbar-brand i {
  position: absolute;
  top: -5px;
  left: 50px;
  font-size: 20px;
}
#toggleBtn {
  color: white;
  font-size: 25px;
  margin-left: 10px;
}
#toggleBtn:hover {
  color: #fb811e !important;
}
.dropdown {
  appearance: none !important;
}
.dropdown-menu {
  top: 50px;
  left: -120px;
}
.dropdown-menu:focus {
  box-shadow: none;
}
.dropdown-menu li a {
  text-decoration: none;
  color: black;
}
.dropdown button {
  font-size: 30px;
  padding-top: 5px;
}
.btn:focus {
  box-shadow: none;
}
.dropdown-menu .active {
  color: #fb811e;
}
.no-caret::after {
  display: none !important;
}
.headerScroll {
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}
/* welcome */
.welcome__content {
  flex-direction: row;
  align-items: center;
  height: 100vh;
}
.container-fluid {
  padding: 0;
}
.carousel-inner {
  border-radius: 0 0 0 15px;
}
.welcome__right {
  position: relative;
  margin-left: auto;
}
.welcome__left {
  left: 10em;
  z-index: 1;
  position: absolute;
}
.welcome__right img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.carousel-item span {
  font-weight: 600;
  font-size: 30px;
}
.carousel-caption {
  left: unset;
  right: 15px;
}
.carousel-indicators li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 10px;
}
.welcome__left h2 {
  color: grey;
  opacity: 0.1;
  font-size: 120px;
  font-weight: bold;
  margin-left: -0.5em;
  line-height: 0;
}
.welcome__text h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}
.welcome__text p {
  font-size: 18px;
  color: #707070;
}
.carousel-item {
  position: relative;
}
.carousel-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
@media (max-width: 1150px) {
  .welcome__left {
    left: 5em;
  }
}
@media (max-width: 991px) {
  .welcome__left {
    left: 2em;
  }
}
@media (max-width: 768px) {
  .welcome__inner {
    background: white;
    padding: 3em 2em 2em 4em;
    border-radius: 8px;
  }
  .welcome__left {
    left: 0em;
    padding: 2em;
  }
}
/* product */
.product {
  padding: 50px;
}
.product__left {
  padding-top: 3rem;
}
.product__left h4 {
  color: #fb811e;
  font-size: 22px;
  font-weight: 500;
}
.product__left h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: black;
}
.product__left p {
  color: #b7b7b7;
  font-size: 15px;
}
.product__item {
  margin-bottom: 20px;
}
.product__item .card {
  border-radius: 30px;
  padding: 30px 30px;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
  border: none;
  transition: all 0.5s;
}
.product__item .card:hover {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.product__item .card-img-top {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}
.product__item .card-body {
  padding: 0;
}
.product__item .card-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  transition: all 0.5s;
}
.product__item .card-title:hover {
  color: #009f4d !important;
}
/* service */
.service {
  background: #009f4d;
}
.service__header {
  position: relative;
}
.service h5 {
  font-size: 22px;
}
.service .header__left h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  text-transform: capitalize;
}
.service .header__right {
  font-size: 1.25rem;
  font-weight: 300;
}
.service .service__bgtext {
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 13vw;
  top: -30px;
  right: 50%;
  transform: translateX(50%);
}
.service .card {
  border-radius: 18px;
  overflow: hidden;
  border: none;
}
.service .card-body span {
  color: #009f4d;
  display: inline-block;
  background: #d6f0e2;
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}
.service .card h3 {
  display: block;
  font-weight: 600;
  line-height: 30px;
  font-size: 24px;
  margin: 15px 0;
  transition: all 0.5s;
}
.service .card a{
  text-decoration: none;
  color: #060606;
}
.service .card-text {
  color: #707070;
}
.service .card h3:hover {
  color: #009f4d !important;
}
/* reason  */
.reason {
  font-family: "Volkhov", serif;
}
.reason .row {
  display: flex;
  flex-wrap: wrap;
}
.reason-left {
  align-self: center;
}
.reason-left h5 {
  font-size: 22px;
  color: #fb811e;
}
.reason-left h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #000;
}
.reason-info span {
  font-size: 30px;
  color: #fb811e;
}
.reason-info h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}
.reason-right {
  position: relative;
  margin-left: 90px;
}
.reason-right img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}
.imginfo-box {
  background-color: #fb811e;
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 40px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 200px;
  border-radius: 0 0 100px 0;
  text-align: center;
}
.imginfo__title {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}
/* quality  */
.quality {
  font-family: "Volkhov", serif;
}
.quality a {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 2rem 1rem;

  transition: 0.3s ease-in;
}
.quality a.quality-item:hover {
  text-decoration: none;
}

.quality-item {
  border-radius: 10px;
  padding: 14px 10px 14px 10px;
}

.quality .quality-item:hover {
  border: 1px solid #eee;
  transition: 0.3s ease-in;
  background: #fff;
}
.quality-content h4:hover {
  color: #009f4d;
  transition: 0.3 ease-in-out;
}

.img-quality {
  height: auto;
  max-width: 100%;
}
.quality-content {
  text-decoration: none;
}
.quality-content h4 {
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
  color: #000;
}
.quality-content p {
  margin-top: 10px;
  color: #707070;
}

/* gallery  */
.gallery_effect h5 {
  font-size: 22px;
  color: #fb811e;
}
.gallery_effect h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}
.gallery_effect p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
.gallery_effect .btn-gallery {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  color: #fff;
  border-radius: 30px;
  transition: 0.5s all;
  border: none;
}
.btn-gallery:hover {
  background: #009f4d;
}
.gallery_link .img-gallery {
  height: auto;
  width: 100%;
}

.gallery .col-3 {
  padding: 0;
}
.gallery_effect {
  position: relative;
  overflow: hidden;
}
.gallery_effect::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.gallery_effect:hover::before {
  left: 125%;
}



.gallery_link .text-gallery {
  position: absolute;
  z-index: 0;
  color: #fff;
  bottom: 0;
  font-weight: bold;
  background: rgb(255 255 255 / 27%);
  padding: 6px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 20px;
}
.gallery .col-xl-3 {
  padding-left: 0;
  padding-right: 0;
}

/* customer */
.customer-clients {
  background: url(../images/bg1.jpg) no-repeat center fixed;
  position: relative;
  background-size: cover;
  /* reponsive  */
  width: 100%;
  z-index: 1;
}
.customer-clients .container {
  width: 100%;
}
.customer-clients::before {
  content: "";
  background: rgb(10 10 10 / 52%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.customer-clients .row {
  align-items: center;
}
.iconName {
  text-align: center;
}
.icon_Link {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: white;
  border-radius: 48%;
}
.icon_Link img {
  width: 100%;
  min-width: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 57px;
}

.peopl_Name {
  font-weight: 600;
  color: #fff;
}
.peopl_Name h3 {
  margin: 10px 0 5px;
  font-size: 20px;
}
.peopl_Name q {
  font-size: 16px;
  text-align: left;
}
.peopl_review {
  font-size: 26px;
  line-height: 34px;
  color: #fff;
}
.peopl_review q::before {
  font-size: 80px;
  color: #fb811e;
  font-weight: 600;
  display: inline-block;
  margin-top: 15px;
  font-family: initial;
}
.owl-nav {
  visibility: hidden;
}

.owl-theme .owl-dots .owl-dot.active span,
 .owl-theme .owl-dots .owl-dot:hover span {
  background: -webkit-linear-gradient(#fe6e00, #eb9859);
  
}

.owl-theme .owl-dots button:focus {
outline: none;
}





/* footer */
.footer-main .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.footer-main h3 {
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 30px;
}

.footer-main a.logo {
  font-size: 32px;
  color: orangered;
  cursor: pointer;
  position: relative;
}
.footer-main a.logo:hover {
  color: black;
  text-decoration: none;
}
.footer-main a.logo i {
  position: absolute;
  top: -3px;
  left: 54px;
  font-size: 20px;
}

.footer-main p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
.FooterSocial li {
  display: inline-block;
  margin-right: 5px;
  font-size: 15px;
  line-height: 35px;
}
.FooterSocial li a {
  color: #009f4d;
  width: 35px;
  height: 35px;
  background: rgb(10 191 83 / 8%);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
.FooterSocial li a:hover {
  color: #fb811e;
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}
.footer-main a {
  color: #707070;
}

.FooterSubscribe .subscribe {
  flex: 1 1 auto;
}
.FooterSubscribe .subscribe input[type="email"] {
  background: #f4f4f4;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 80%;
  color: #707070;
  border: 1 solid var(#eee);
  border-radius: 30px 0px 0px 30px;
  border-style: none;
}
.FooterSubscribe .subscribe button {
  background: #009f4d;
  border: none;
  font-size: 16px;
  padding: 12px 12px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 0px 30px 30px 0px;
}

.backToTop {
  width: 40px;
  height: 40px;
  background: #009f4d;
  border-radius: 8px;
  line-height: 40px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 90px;
  color: white;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #009f4d;
  visibility: hidden;
  opacity: 0;
}
.backToTop i {
  font-size: smaller;
}

/* cdtop */

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
.cd-top--fade-out {
  opacity: 0.5;
}
